@charset "utf-8";
// ===========================
//
// common
//
// ===========================
// ===========================

@mixin texthidden() {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 200%;
}
