@charset "UTF-8";
////////////////////////////////////////////////////////
// footer
////////////////////////////////////////////////////////

.main-footer {
  width: 100%;
  background-color: #fff;
  > .container {
    width: 1000px;
    margin: 0 auto;
    padding: 80px 0 60px 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    position: relative;
    @include max-screen($content-m) {
      width: 100%;
      padding: 40px 40px 33px 40px;
    }
    @include max-screen(500px) {
      display: block;
      padding: 29px 33px 32px 33px;
    }
    .nav {
      width: 50%;
      box-sizing: border-box;
      font-family: "Teko", Helvetica, Arial, "ヒラギノ角ゴ ProN W3",
        "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
      font-weight: 400;
      @include max-screen(780px) {
        width: 100%;
        margin-bottom: 0px;
      }
      @include max-screen($sp) {
        display: block;
        padding: 0;
        text-align: left;
        height: auto;
      }

      > .lists {
        @include max-screen(500px) {
          display: flex;
          flex-wrap: wrap;
        }
        > .list {
          margin-bottom: 29px;
          width: 180px;
          @include max-screen(500px) {
            width: 50%;
            margin-bottom: 13px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          a {
            &:hover {
              text-decoration: none;
            }
          }
          > .ttl {
            font-size: 1.8rem;
            line-height: 2.7rem;
            text-transform: uppercase;
            font-weight: 300;
            @include max-screen(500px) {
              font-size: 2.2rem;
              line-height: 3.3rem;
            }
            a {
              width: 100%;
              height: 100%;
              position: relative;
              transition: 0.3s linear;
              display: block;
              @include max-screen(500px) {
                flex-wrap: wrap;
                justify-content: inherit;
                align-items: inherit;
                padding: 15px 0 0 0;
              }
              &:hover {
                text-decoration: none;
              }
              span {
                display: block;
              }
              .ja {
                font-size: 11px;
                line-height: 1.6rem;
                display: block;
                width: 100%;
              }
            }
          }
          &.services {
            margin-bottom: 23px;
            width: 100%;
            @include max-screen(500px) {
              margin-bottom: 8px;
            }
            a {
              padding: 0 0 0 0;
            }
          }
          &.policy {
            display: block;
            font-size: 1.1rem;
            line-height: 1.6rem;
            width: 100%;
            margin-top: 16px;
          }
        }
        .sub-list {
          font-size: 1.1rem;
          line-height: 1.6rem;
          width: 445px;
          @include max-screen(780px) {
            width: 100%;
          }
          > li {
            display: inline-block;
            padding-right: 10px;
            position: relative;
            margin: 0 3px 5px 0;
            &:last-child {
              padding-right: 0;
              &:after {
                display: none;
              }
            }
            @include max-screen(500px) {
              &:after {
                content: "/";
                position: absolute;
                right: 0;
              }
            }
          }
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
    .info {
      display: flex;
      text-align: right;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
      @include max-screen(780px) {
        position: absolute;
        bottom: 60px;
        right: 40px;
        width: 50%;
        z-index: 100;
        height: auto;
      }
      @include max-screen(500px) {
        position: static;
        bottom: auto;
        right: auto;
        width: 100%;
        margin-top: 50px;
      }
      @include max-screen(380px) {
        justify-content: flex-start;
      }
      > .ttl {
        width: 428px;
        height: 119px;
        margin-bottom: 61px;
        letter-spacing: 0px;
        @include max-screen($content-m) {
          width: 100%;
          height: auto;
        }
        @include max-screen(500px) {
          max-width: 310px;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 27px;
        }
        a {
          width: 428px;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          @include max-screen($content-m) {
            width: 100%;
          }
          &:hover {
            opacity: 1;
          }
          img {
            display: block;
            width: 100%;
            max-width: 428px;
          }
        }
      }
      > .txt {
        font-size: 1.2rem;
        line-height: 2.4rem;
        width: 100%;
      }
      > .share {
        display: flex;
        justify-content: flex-end;
        margin: 25px 0 0 0;
        font-size: 0;
        width: 100%;
        @include max-screen(500px) {
          margin-top: 8px;
        }
        > li {
          display: inline-block;
          font-size: 1.3rem;
          line-height: 1.8rem;
          padding: 0 16px 0 11px;
          position: relative;
          &:last-child {
            padding: 0 0 0 11px;
            &:after {
              display: none;
            }
          }
          &:after {
            content: "/";
            position: absolute;
            right: 0;
            top: 0;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
