<%= require('html-loader!./template/htmlhead.html') %>
  <script src="https://www.promisejs.org/polyfills/promise-6.1.0.min.js"></script>
  <!-- css -->
  <link href="./assets/css/home.css?2" rel="stylesheet">
  <!-- /css -->
  <title>home</title>
</head>
<body class="home">

  <%= require('html-loader!./template/header.html') %>

  <!-- MV -->
  <section class="mv-section -large">
    <div class="wrap">
      <p class="line"><span>We are creating</span></p>
      <p class="line"><span>the next</span></p>
      <p class="line"><span>generation of</span></p>
      <p class="line js-line-last"><span>Yatsugatake.</span></p>
    </div>
    <div class="ol">
      <p class="line"><span>We are creating</span></p>
      <p class="line"><span>the next</span></p>
      <p class="line"><span>generation of</span></p>
      <p class="line"><span>Yatsugatake.</span></p>
    </div>
  </section>
  <section class="mv-section -small">
    <div class="wrap">
      <p class="line"><span>We are cr</span></p>
      <p class="line"><span>eating the</span></p>
      <p class="line"><span>next gener</span></p>
      <p class="line"><span>ation of Ya</span></p>
      <p class="line js-line-last"><span>tsugatake.</span></p>
    </div>
    <div class="ol">
      <p class="line"><span>We are cr</span></p>
      <p class="line"><span>eating the</span></p>
      <p class="line"><span>next gener</span></p>
      <p class="line"><span>ation of Ya</span></p>
      <p class="line"><span>tsugatake.</span></p>
    </div>
  </section>

  <!-- work -->
  <section class="work-section">
    <div class="container">
      <h2 class="section-ttl">work</h2>
      <!-- 1 -->
      <div class="article">
        <div class="img">
          <img src="/assets/img/work/1/home_thumb.jpg" alt="">
        </div>
        <div class="info js-anim">
          <h3 class="ttl">
            Dummy Corporate Site
          </h3>
          <p class="client">
            <span>Client:</span>
            <span>株式会社八ヶ岳ダミーカンパニー</span>
          </p>
          <ul class="category">
            <li>
              <a href="#">Branding</a>
            </li>
            <li>
              <a href="#">Research</a>
            </li>
            <li>
              <a href="#">Visual design</a>
            </li>
            <li>
              <a href="#">Art direction</a>
            </li>
            <li>
              <a href="#">UX/UI design</a>
            </li>
            <li>
              <a href="#">System devellopment</a>
            </li>
          </ul>
        </div>
        <a href="#" class="link">詳しく見る</a>
      </div>
      <!-- 2 -->
      <div class="article">
        <div class="img">
          <img src="/assets/img/work/2/home_thumb.jpg" alt="">
        </div>
        <div class="info js-anim">
          <h3 class="ttl">
            Dummy Corporate Site
          </h3>
          <p class="client">
            <span>Client:</span>
            <span>株式会社八ヶ岳ダミーカンパニー</span>
          </p>
          <ul class="category">
            <li>
              <a href="#">Branding</a>
            </li>
            <li>
              <a href="#">Research</a>
            </li>
            <li>
              <a href="#">Visual design</a>
            </li>
            <li>
              <a href="#">Art direction</a>
            </li>
            <li>
              <a href="#">UX/UI design</a>
            </li>
            <li>
              <a href="#">System devellopment</a>
            </li>
          </ul>
        </div>
        <a href="#" class="link">詳しく見る</a>
      </div>
      <!-- 3 -->
      <div class="article">
        <div class="img">
          <img src="/assets/img/work/3/home_thumb.jpg" alt="">
        </div>
        <div class="info js-anim">
          <h3 class="ttl">
            Dummy Corporate Site
          </h3>
          <p class="client">
            <span>Client:</span>
            <span>株式会社八ヶ岳ダミーカンパニー</span>
          </p>
          <ul class="category">
            <li>
              <a href="#">Branding</a>
            </li>
            <li>
              <a href="#">Research</a>
            </li>
            <li>
              <a href="#">Visual design</a>
            </li>
            <li>
              <a href="#">Art direction</a>
            </li>
            <li>
              <a href="#">UX/UI design</a>
            </li>
            <li>
              <a href="#">System devellopment</a>
            </li>
          </ul>
        </div>
        <a href="#" class="link">詳しく見る</a>
      </div>
      <!-- 4 -->
      <div class="article">
        <div class="img">
          <img src="/assets/img/work/4/home_thumb.jpg" alt="">
        </div>
        <div class="info js-anim">
          <h3 class="ttl">
            Dummy Corporate Site
          </h3>
          <p class="client">
            <span>Client:</span>
            <span>株式会社八ヶ岳ダミーカンパニー</span>
          </p>
          <ul class="category">
            <li>
              <a href="#">Branding</a>
            </li>
            <li>
              <a href="#">Research</a>
            </li>
            <li>
              <a href="#">Visual design</a>
            </li>
            <li>
              <a href="#">Art direction</a>
            </li>
            <li>
              <a href="#">UX/UI design</a>
            </li>
            <li>
              <a href="#">System devellopment</a>
            </li>
          </ul>
        </div>
        <a href="#" class="link">詳しく見る</a>
      </div>
      <div class="btn-wrap">
        <a href="#" class="more">view all</a>
      </div>
    </div>
  </section>

  <!-- services -->
  <section class="services-section">
    <div class="container">
      <h2 class="section-ttl">services</h2>
      <ul class="lists">
        <li class="list -type1">
          <p class="ttl">
            <a href="#">
              <span class="en">BRANDING</span>
              <span class="ja">ブランディングデザイン</span>
            </a>
          </p>
        </li>
        <li class="list -type2">
          <p class="ttl">
            <a href="#">
              <span class="en">WEB CONSTRACTION</span>
              <span class="ja">Webサイト制作</span>
            </a>
          </p>
        </li>
        <li class="list -type3">
          <p class="ttl">
            <a href="#">
              <span class="en">GRAPHIC DESIGN</span>
              <span class="ja">グラフィックデザイン</span>
            </a>
          </p>
        </li>
        <li class="list -type4">
          <p class="ttl">
            <a href="#">
              <span class="en">SYSTEM DEVELOPMENT</span>
              <span class="ja">システム開発</span>
            </a>
          </p>
        </li>
        <li class="list -type5">
          <p class="ttl">
            <a href="#">
              <span class="en">EVENT PLANNING</span>
              <span class="ja">イベント企画・運営</span>
            </a>
          </p>
        </li>
        <li class="list -type6">
          <p class="ttl">
            <a href="#">
              <span class="en">FOOD BUSINESS</span>
              <span class="ja">飲食事業</span>
            </a>
          </p>
        </li>
        <li class="list -type7">
          <p class="ttl">
            <a href="#">
              <span class="en">CONSTRUCTION</span>
              <span class="ja">建築事業</span>
            </a>
          </p>
        </li>
        <li class="list -type8 -last">
          <p class="ttl">
            <a href="#">
              <span class="en">OWNED MEDIA</span>
              <span class="ja">自社メディア</span>
            </a>
          </p>
        </li>
      </ul>
      <div class="btn-wrap">
        <a href="#" class="more -second">view all</a>
      </div>
    </div>
  </section>

  <!-- clients -->
  <section class="clients-section">
    <div class="container">
      <h2 class="section-ttl">Our clients</h2>
      <span class="ico js-client-ico"></span>
      <div class="block">
        <ul class="lists">
          <li>諏訪地方観光連盟</li>
          <li>茅野市役所</li>
          <li>一般社団法人ちの観光まちづくり推進機構</li>
          <li>富士見町役場</li>
          <li>原村役場</li>
          <li>原村観光連盟</li>
          <li>北杜市役所</li>
          <li>北杜市観光協会</li>
          <li>北杜市フードバレー協議会</li>
          <li>北杜市地域おこし協力隊</li>
          <li>北杜市南アルプスユネスコエコパーク地域連絡会</li>
          <li>一般社団法人八ヶ岳ツーリズムマネジメント</li>
          <li>八ヶ岳自然文化園</li>
          <li>株式会社セラヴィリゾート泉郷</li>
          <li>株式会社シャトレーゼ</li>
          <li>萌木の村株式会社</li>
          <li>仏法紹隆寺</li>
          <li>八ヶ岳登山企画</li>
          <li>八ヶ岳アドベンチャーツアーズ</li>
          <li>社会福祉法人八ヶ岳名水会みずがきベジタブル</li>
          <li>八ヶ岳クラフト市実行委員会</li>
        </ul>
        <p class="sup">
          他（順不同・敬称略）
        </p>
      </div>
    </div>
  </section>

  <!-- news -->
  <section class="news-section">
    <div class="container">
      <h2 class="section-ttl">news</h2>
      <div class="js-news-slider">
        <div class="lists swiper-wrapper">
          <div class="article swiper-slide">
            <div class="img">
              <img src="/assets/img/news/1/home_thumb.jpg" alt="">
            </div>
            <div class="info">
              <p class="date">2021.6.21</p>
              <ul class="category">
                <li><a href="#news">news</a></li>
                <li><a href="#category">category</a></li>
                <li><a href="#test">test</a></li>
                <li><a href="#sample">sample</a></li>
                <li><a href="#ja">にほんご</a></li>
              </ul>
              <p class="txt">
                ダミーです。ここに記事冒頭テキストが入ります。ダミーです。ここに記事冒頭テキストが入ります。
              </p>
            </div>
            <a href="#" class="link">詳しく見る</a>
          </div>
          <div class="article swiper-slide">
            <div class="img">
              <img src="/assets/img/news/2/home_thumb.jpg" alt="">
            </div>
            <div class="info">
              <p class="date">2021.6.21</p>
              <ul class="category">
                <li><a href="#">news</a></li>
                <li><a href="#">category</a></li>
              </ul>
              <p class="txt">
                これで１０文字です。
              </p>
            </div>
            <a href="#" class="link">詳しく見る</a>
          </div>
          <div class="article swiper-slide">
            <div class="img">
              <img src="/assets/img/news/3/home_thumb.jpg" alt="">
            </div>
            <div class="info">
              <p class="date">2021.6.21</p>
              <ul class="category">
                <li><a href="#">news</a></li>
                <li><a href="#">category</a></li>
              </ul>
              <p class="txt">
                ダミーです。ここに記事冒頭テキストが入ります。ダミーです。ここに記事冒頭テキストが入ります。
              </p>
            </div>
            <a href="#" class="link">詳しく見る</a>
          </div>
          <div class="article swiper-slide">
            <div class="img">
              <img src="/assets/img/news/4/home_thumb.jpg" alt="">
            </div>
            <div class="info">
              <p class="date">2021.12.21</p>
              <ul class="category">
                <li><a href="#news">news</a></li>
                <li><a href="#category">category</a></li>
                <li><a href="#test">test</a></li>
                <li><a href="#sample">sample</a></li>
                <li><a href="#ja">にほんご</a></li>
              </ul>
              <p class="txt">
                これで１０文字です。これで１０文字です。これで１０文字です。これで１０文字です。これで１０文字です。
              </p>
            </div>
            <a href="#" class="link">詳しく見る</a>
          </div>
        </div>
        <!-- /swiper-wrapper -->
      </div>
      <!-- /js-news-slider -->
      <div class="btn-wrap">
        <a href="#" class="more">view all</a>
      </div>
    </div>
  </section>

  <!-- Owned Media -->
  <section class="om-section">
    <div class="container">
      <h2 class="section-ttl">
        Owned Media
      </h2>
      <ul class="lists">
        <!-- 今後更新が入るときにcssを触らなくて良いようにstyleで記載しています -->
        <!-- SP用...aの背景、a>spanの背景（ロゴ）
        // PC用...img
        //-->
        <li>
          <a href="https://8tabi.jp/" target="_blank" style="background-image: url('/assets/img/ownedmedia/home/bg_hachitabi_sp.jpg');">
            <img src="/assets/img/ownedmedia/home/bg_hachitabi.jpg" alt="ハチ旅">
            <span style="background-color: rgba(0, 84, 105, 0.9);background-image: url('/assets/img/ownedmedia/home/logo_hachitabi_sp.svg');">
              八ヶ岳在住スタッフがお届けする「八ヶ岳を旅するための情報サイト」。イベント情報や天候情報など、旅に役立つ情報が満載。
            </span>
          </a>
        </li>
        <li>
          <a href="https://suwa-tabi.jp/" target="_blank" style="background-image: url('/assets/img/ownedmedia/home/bg_suwatabi_sp.jpg');">
            <img src="/assets/img/ownedmedia/home/bg_suwatabi.jpg" alt="諏訪旅">
            <span style="background-color: rgba(94, 83, 65, 0.9);background-image: url('/assets/img/ownedmedia/home/logo_suwatabi_sp.svg');">
              諏訪大社や御柱祭など、独特の文化のある諏訪地域を100倍楽しく旅するための情報サイト。諏訪地域在住スタッフがお届けします。
            </span>
          </a>
        </li>
        <li>
          <a href="https://8katte.com/" target="_blank" style="background-image: url('/assets/img/ownedmedia/home/bg_hachikatte_sp.jpg');">
            <img src="/assets/img/ownedmedia/home/bg_hachikatte.jpg" alt="ハチカッテ">
            <span style="background-color: rgba(34, 129, 95, 0.9);background-image: url('/assets/img/ownedmedia/home/logo_hachikatte_sp.svg');">
              生とうもろこし、地酒、ビールなど、八ヶ岳在住スタッフが見つけた”いいもの・楽しいもの”を集めた八ヶ岳オンラインショップ。
            </span>
          </a>
        </li>
        <li>
          <a href="https://8guide.jp/" target="_blank" style="background-image: url('/assets/img/ownedmedia/home/bg_8guide_sp.jpg');">
            <img src="/assets/img/ownedmedia/home/bg_8guide.jpg" alt="8guide">
            <span style="background-color: rgba(85, 146, 190, 0.9);background-image: url('/assets/img/ownedmedia/home/logo_8guide_sp.png');color: #1EA1FC;">
              登山、スノーシュー、農業体験など、八ヶ岳の旅を満喫するためのアクティビティを、地元スタッフが紹介するガイドサイト。
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- contact -->
  <section class="contact-section">
    <p class="link">
      <a href="#"><span>Contact us</span></a>
    </p>
    <p class="txt">
      お仕事のご相談はメールフォームよりお気軽にお問い合わせください。
    </p>
  </section>

  <%= require('html-loader!./template/footer.html') %>

<script type="text/javascript" src="./assets/js/home.js?6"></script>
</body>
</html>
